html, body {
	overflow-x: hidden;
}

body{
	background-color: #ffffff;
	color: #000000;
	font-family: sans-serif;
	font-size: 16px;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
	background-color: #000!important;
	opacity: 0.8;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-size: 13px;
}

.promo-image{
	width: 100%;
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.head-title{
	text-align: center;
	font-family: 'Advent Pro', sans-serif;
	font-size: 5em;
}

.image-box{
	display: grid;
	height: 100%;
}

.promo-image-fluid{
	margin-top: 2em !important;
}