
{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href={%static 'products/assets/css/Footer-Dark.css'%}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href={%static 'products/assets/css/styles.min.css'%}>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html" style="padding: 0px;"><img src={%static 'products/assets/img/Dell_Logo.png'%} width="35px"></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Laptop</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Desktop</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Server</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">IT Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="fa fa-shopping-bag"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="margin-top: 73.375px;max-height: 100%;padding-bottom: 10em;">
        <div class="row" style="margin-top: 119px;">
            
                <div class="col" style="max-width: 50%;">
                <div class="row">
                    <div class="col">
                            <a href="xps-webpage">
                        <img id="xps" class="laptop-image" src={%static 'products/assets/img/xps.jpg'%}></div>
                    </a>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-center" style="font-weight: 800;font-size: 70px;">XPS</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="font-size: 34px;">Light. Fast. Portable.</p>
                    </div>
                </div>
            </div>
            <div class="col" style="max-width: 50%;">
                <div class="row">
                    <div class="col" style="height: 330px;">
                        <a href="inspiron-webpage">
                        <img id="inspiron" class="laptop-image" src={%static 'products/assets/img/inspiron.jpg'%}>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-center" style="font-size: 70px;font-weight: 800;">Inspiron</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="font-size: 34px;">Everyday. Everywhere. Affordable.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col" style="max-width: 50%;">
                <div class="row">
                    <div class="col text-center">
                            <a href="latitude-webpage">
                                    
                                <img id="latitude" src={%static 'products/assets/img/latitude.jpg'%}>
                            </a>
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-center" style="font-size: 70px;font-weight: 800;">Latitude</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="font-size: 34px;">Work. Business. Reliable.</p>
                    </div>
                </div>
            </div>
            <div class="col" style="max-width: 50%;">
                <div class="row">
                    <div class="col text-center" style="height: 330px;">
                            <a href="../alienware-webpage">
                                    <img id="alienware" src={%static 'products/assets/img/alienware.jpg'%}>
                                    </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-center" style="font-size: 70px;font-weight: 800;">Alienware</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="font-size: 34px;">Gaming. Performance.&nbsp;Fast.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="products-laptop.html">Laptops</a></li>
                            <li><a href="#">Desktops</a></li>
                            <li><a href="#">Server</a></li>
                            <li><a href="#">IT Services</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Listen. Learn. Deliver. That’s what we’re about.</h3>
                        <p>Dell empowers countries, communities, customers and people everywhere to use technology to realize their dreams. Customers trust us to deliver technology solutions that help them do and achieve more, whether they’re at home, work,
                            school or anywhere in their world. Learn more about our story, purpose and people behind our customer-centric approach.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Dell © 2019</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src={%static 'products/assets/js/theme.js'%}></script>
</body>

</html>