
{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href={%static 'products/assets/css/styles.min.css'%}>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html" style="padding: 0px;"><img src={%static 'products/assets/img/Dell_Logo.png'%} width="35px"></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Laptop</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Desktop</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Server</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">IT Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="fa fa-shopping-bag"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="border rounded-0 border-dark" style="height: 73.375px;">
        <div class="container">
            <div class="row" style="height: 50px;">
                <div class="col-md-4">
                    <h1 style="font-size: 30px;margin-top: 18px;font-weight: 800;">Dell Latitude Series</h1>
                </div>
                <div class="col-md-4">
                    <h1 class="text-right" style="font-size: 20px;margin-top: 28px;">Overview</h1>
                </div>
                <div class="col-md-4">
                    <h1 class="text-right" style="font-size: 20px;margin-top: 28px;">Tech Specs</h1>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;background-color: #eeeeee;position: sticky !important;">
        <div class="container" style="height: 100px;">
            <div class="row justify-content-center" style="height: 100px;">
                <div class="col-xl-6" style="font-size: 16px;font-weight: bold;">
                    <p class="text-center" style="font-size: 18px;font-weight: bold;margin-top: 6px;">Add a trade-in<br></p>
                    <p class="text-center" style="font-size: 13px;margin-top: -13px;"><strong>Get a refund of up to $2530 when you trade in an eligible computer, or recycle it for free.*</strong><br></p>
                    <p class="text-center" style="font-size: 14px;margin-top: 5px;"><a href="dell.com"><span style="text-decoration: underline;">Get Started</span></a><br></p>
                </div>
            </div>
        </div>
    </div>
    <section style="margin: 0px;margin-top: 0px;margin-right: 100px;margin-left: 100px;margin-bottom: 0px;height: 100%;">
        <div class="row" style="height: 220px;">
            <div class="col" style="margin-top: 30px;">
                <p class="text-center" style="font-size: 35px;font-weight: bold;line-height: 70px;">Choose your new Dell Latitude<br>and select a finish.</p>
            </div>
        </div>
        <div class="row justify-content-center user-list">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 user-item" style="padding: 0px;max-width: 200px;"><button class="btn btn-primary btn-lg border rounded-0 shadow-sm" id="screen15" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;">13-inch</button></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-7 user-item"
                style="padding: 0px;max-width: 200px;"><button class="btn btn-primary btn-lg border rounded-0 shadow-sm" id="screen13" type="button" style="background-color: rgb(14,160,255);color: rgb(0,0,0);width: 100%;">14-inch</button></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 user-item"
                style="padding: 0px;max-width: 200px;"><button class="btn btn-primary btn-lg border rounded-0 shadow-sm" id="screen15" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;">15-inch</button></div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center" style="font-size: 26px;font-weight: bold;margin-top: 74px;">14-inch Dell Latitude<br></p>
                <p class="text-center" style="font-size: 17px;margin-top: -14px;"><strong>We’re here to help. </strong><a href="dell.com"><strong>Contact us</strong></a><strong>.</strong><br></p>
            </div>
        </div>
        <div class="row justify-content-center" style="border-bottom: solid;border-width: thin;">
            <div class="col-xl-4" style="max-width: 340px;">
                <div class="row">
                    <div class="col text-center"><img class="bg-white border-white shadow-none" src={%static 'products/assets/img/Dell_Latitude_14_e7470_L_1.jpg'%}></div>
                </div>
                <div class="row">
                    <div class="col-xl-2" style="height: 30px;">
                        <p id="new" style="font-size: 18px;color: rgb(255,59,46);">New</p>
                    </div>
                    <div class="col" style="max-height: 30px;"><img id="flame" src={%static 'products/assets/img/flame.png'%} style="margin-top: -7px;max-height: 40px;"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 18px;"><strong>1.4GHz Quad-Core Processor with Turbo Boost up to 3.9GHz</strong><br><strong>4GB RAM</strong><br><strong>Touch Bar and Touch&nbsp;ID</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;line-height: 16px;">1.4GHz quad-core 8th-generation Intel&nbsp;Core i5 processor<br><br> Turbo Boost up to 3.9GHz<br><br> Intel Iris Plus Graphics 645<br><br>4GB 2133MHz LPDDR3 memory<br><br> 128GB SSD storage1<br><br> Retina display with True Tone<br><br>                            Touch Bar and Touch&nbsp;ID<br><br> Two Thunderbolt 3 ports<br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 26px;line-height: 16px;margin-top: 10px;"><strong>Rs 45,000.00</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;line-height: 16px;margin-top: 7px;"><a href="https://www.apple.com/shop/browse/financing">Get 3% Daily Cash with Apple Card, or get special financing</a><br></p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col"><button class="btn btn-primary" type="button">Select</button></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="margin-top: 14px;">Delivery: In Stock</p>
                    </div>
                </div>
            </div>
            <div class="col" style="max-width: 340px;">
                <div class="row">
                    <div class="col text-center"><img class="bg-white border-white shadow-none"  src={%static 'products/assets/img/Dell_Latitude_14_e7470_L_1.jpg'%}></div>
                </div>
                <div class="row">
                    <div class="col" style="height: 30px;">
                        <p style="font-size: 18px;color: rgb(255,59,46);">New</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 18px;"><strong>1.4GHz Quad-Core Processor with Turbo Boost up to 3.9GHz</strong><br><strong>8GB RAM</strong><br><strong>Touch Bar and Touch&nbsp;ID</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;line-height: 16px;">1.4GHz quad-core 8th-generation Intel&nbsp;Core i5 processor<br><br> Turbo Boost up to 3.9GHz<br><br> Intel Iris Plus Graphics 645<br><br> 8GB 2133MHz LPDDR3 memory<br><br> 128GB SSD storage1<br><br> Retina display with True Tone<br><br>                            Touch Bar and Touch&nbsp;ID<br><br> Two Thunderbolt 3 ports<br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 26px;line-height: 16px;margin-top: 10px;"><strong>RS 50,000.00</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;line-height: 16px;margin-top: 7px;"><a href="https://www.apple.com/shop/browse/financing">Get 3% Daily Cash with Apple Card, or get special financing</a><br></p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col"><button class="btn btn-primary" type="button">Select</button></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="margin-top: 14px;">Delivery: In Stock</p>
                    </div>
                </div>
            </div>
            <div class="col" style="max-width: 340px;">
                <div class="row">
                    <div class="col text-center"><img class="bg-white border-white shadow-none"  src={%static 'products/assets/img/Dell_Latitude_14_e7470_L_1.jpg'%}></div>
                </div>
                <div class="row">
                    <div class="col" style="height: 30px;">
                        <p style="font-size: 18px;color: rgb(255,59,46);">New</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 18px;"><strong>1.4GHz Quad-Core Processor with Turbo Boost up to 3.9GHz</strong><br><strong>8GB RAM</strong><br><strong>Touch Bar and Touch&nbsp;ID</strong><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;line-height: 16px;">1.4GHz quad-core 8th-generation Intel&nbsp;Core i3 processor<br><br> Turbo Boost up to 3.9GHz<br><br> Intel Iris Plus Graphics 645<br><br> 8GB 2133MHz LPDDR3 memory<br><br> 128GB SSD storage1<br><br> Retina display with True Tone<br><br>                            Touch Bar and Touch&nbsp;ID<br><br> Two Thunderbolt 3 ports<br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 26px;line-height: 16px;margin-top: 10px;"><strong>RS 44,000.00</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 14px;line-height: 16px;margin-top: 7px;"><a href="https://www.apple.com/shop/browse/financing">Get 3% Daily Cash with Apple Card, or get special financing</a><br></p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col"><button class="btn btn-primary" type="button">Select</button></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center" style="margin-top: 14px;">Delivery: In Stock</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2017</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src={%static 'products/assets/js/script-latitude-series.min.js'%}></script>
</body>

</html>